@use '../mixins' as mix;
@use '../colors' as colors;
@use '../variables' as vars;

// Glass Panel Component
.glass-panel {
    @include mix.glass-panel;
    transition: transform vars.$duration-quick vars.$ease-smooth, box-shadow vars.$duration-quick vars.$ease-smooth;
    
    &:hover {
        transform: none;//translateY(-2px);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    // Variants
    &.glass-panel-border {
        border: 1px solid rgba(colors.$cyber, 0.2);
    }

    &.glass-panel-glow {
        &:hover {
            box-shadow: 0 0 2rem rgba(colors.$cyber, 0.2);
        }
    }
}
