# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.version: !php/const App\CitadelVersion::VERSION
    app.backup_dir: '%kernel.project_dir%/var/user_backups'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\EventListener\LocaleListener:
        arguments:
            $defaultLocale: '%kernel.default_locale%'
        tags: ['kernel.event_subscriber']
            
    App\EventListener\AuthenticationSuccessListener:
        tags: ['kernel.event_subscriber']

    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # AI Gateway Services
    ai_tool_call.service_locator:
        class: Symfony\Component\DependencyInjection\ServiceLocator
        tags: ['container.service_locator']
        arguments:
            -
                App\Service\AIToolCallService: '@App\Service\AIToolCallService'
                App\Service\AiGatewayService: '@App\Service\AiGatewayService'
                App\Service\AiServiceModelService: '@App\Service\AiServiceModelService'
                App\Service\AiServiceRequestService: '@App\Service\AiServiceRequestService'
                App\Service\AiServiceResponseService: '@App\Service\AiServiceResponseService'
                App\Service\AiServiceUseLogService: '@App\Service\AiServiceUseLogService'
                App\Service\SettingsService: '@App\Service\SettingsService'
                App\Service\AiToolService: '@App\Service\AiToolService'
                App\Service\AIToolFileService: '@App\Service\AIToolFileService'
                App\Service\AIToolToolService: '@App\Service\AIToolToolService'
                App\Service\AIToolImageService: '@App\Service\AIToolImageService'
                App\Service\AIToolMemoryService: '@App\Service\AIToolMemoryService'
                App\Service\SpiritMemoryService: '@App\Service\SpiritMemoryService'
                App\Service\CQMemoryPackService: '@App\Service\CQMemoryPackService'
                App\Service\CQMemoryLibraryService: '@App\Service\CQMemoryLibraryService'
                App\Service\AnnoService: '@App\Service\AnnoService'

    App\Service\CQAIGateway:
        autowire: true
        arguments:
            $serviceLocator: '@ai_tool_call.service_locator' # Inject the locator

    App\Service\AiGatewayService:
        autowire: true
        arguments:
            $serviceLocator: '@ai_tool_call.service_locator' # Inject the locator
