@use 'colors' as colors;

// CitadelQuest Background System

// Background Variables
$bg-overlay-opacity: 0.25;  // Decreased opacity for better readability

// Theme-specific backgrounds
:root {
    &[data-theme='night-1'] .citadel-background::before {
        background-image: url('../images/bg-dreamy-flowers-1.webp');
    }
    
    &[data-theme='night-2'] .citadel-background::before {
        background-image: url('../images/bg-dreamy-flowers-2.webp');
    }
    
    &[data-theme='day'] .citadel-background::before {
        background-image: url('../images/citadel_quest_bg.jpg');
    }
    
    &[data-theme='glow-1'] .citadel-background::before {
        background-image: url('../images/bg-glow-flowers-1.jpg');
    }

    &[data-theme='night-3'] .citadel-background::before {
        background-image: url('../images/night-forest-sky.webp');
    }

    &[data-theme='clear'] .citadel-background::before {
        background-image: none;
    }
}

// Background setup
.citadel-background {
    // Layer 0
    position: fixed;
    
    // Layer -2: Base background image
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        z-index: -2;
        opacity: 1;
        transition: background-image 0.5s ease-in-out;
    }

    // Layer -1: Overlay color
    &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        z-index: -1;
        background-color: rgba(colors.$body-bg, $bg-overlay-opacity) !important;
    }
}

