// CitadelQuest Color System
// Cyber Theme Colors
$cyber: #95ec86;
$cyber-rgb: 149, 236, 134;

// Bootstrap Colors
$primary: $cyber;
$primary-rgb: $cyber-rgb;
$primary-dark: darken($primary, 20%);
$secondary: #6c757d;
$secondary-rgb: 108, 117, 125;
$success: #0b8a4e;
$success-rgb: 11, 138, 78;
$info: #6bb5ff;
$info-rgb: 107, 181, 255;
$warning: #ffc107;
$warning-rgb: 255, 193, 7;
$danger: #dc3545;
$danger-rgb: 220, 53, 69;
$light: #f8f9fa;
$light-rgb: 248, 249, 250;
$dark: #212529;
$dark-rgb: 33, 37, 41;


// Body Colors
$body-color: #ccd3da;
$body-color-rgb: 170, 184, 197;
$body-bg: #2e3135;
$body-bg-rgb: 46, 49, 53;

// Text Colors
$emphasis-color: #dee2e6;
$emphasis-color-rgb: 222, 226, 230;
$secondary-color: #8391a2;
$secondary-color-rgb: 131, 145, 162;

// Background Colors
$secondary-bg: #37404a;
$secondary-bg-rgb: 55, 64, 74;
$tertiary-bg: #404954;
$tertiary-bg-rgb: 64, 73, 84;

// Border Colors
$border-color: #464f5b;
$border-color-translucent: #8391a2;

// Surface Colors
$surface-light: rgba($secondary-bg, 0.5);
$surface-dark: rgba($dark, 0.5);

// Text Colors
$text-light: $emphasis-color;
$text-secondary: $secondary-color;
$text-muted: $secondary;

// Special Text Colors
$text-on-cyber: $body-bg;

// CSS Variables
:root {
    --cyber: #{$cyber};
    --cyber-rgb: #{$cyber-rgb};
    --cyber-g: 0;
    --text-on-cyber: #{$text-on-cyber};
    --primary: #{$primary};
    --primary-rgb: #{$primary-rgb};
    --primary-dark: #{$primary-dark};
    --secondary: #{$secondary};
    --success: #{$success};
    --info: #{$info};
    --warning: #{$warning};
    --danger: #{$danger};
    --light: #{$light};
    --dark: #{$dark};
    --body-color: #{$body-color};
    --body-bg: #{$body-bg};
    --emphasis-color: #{$emphasis-color};
    --secondary-color: #{$secondary-color};
    --secondary-bg: #{$secondary-bg};
    --tertiary-bg: #{$tertiary-bg};
    --border-color: #{$border-color};
    --surface-dark: #{$surface-dark};

    --bs-info: #{$info};
    --bs-info-rgb: #{$info-rgb};
    --bs-warning: #{$warning};
    --bs-warning-rgb: #{$warning-rgb};
    --bs-danger: #{$danger};
    --bs-danger-rgb: #{$danger-rgb};
    --bs-success: #{$success};
    --bs-success-rgb: #{$success-rgb};
    --bs-primary: #{$primary};
    --bs-primary-rgb: #{$primary-rgb};
    --bs-primary-dark: #{$primary-dark};
    --bs-secondary: #{$secondary};
    --bs-secondary-rgb: #{$secondary-rgb};
    --bs-light: #{$light};
    --bs-light-rgb: #{$light-rgb};
    --bs-dark: #{$dark};
    --bs-dark-rgb: #{$dark-rgb};
}
