{% extends 'base.html.twig' %}

{% block title %}{{ 'spirits.title'|trans }}{% endblock %}

{% block body %}
<div class="container mt-1">
    {% include 'spirits/_spirit_list.html.twig' with { allSpirits: allSpirits } %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('spirits') }}
{% endblock %}
