{% if app.user %}
<div class="spirit-icon-container">
    <div id="spiritIcon" class="spirit-icon">
        <a href="#" id="spiritChatButton" data-bs-toggle="modal" data-bs-target="#spiritChatModal" 
            class="d-flex align-items-center justify-content-center w-100 h-100">
            <i class="mdi mdi-ghost" id="spiritChatButtonIcon"></i>
        </a>
    </div>
</div>
{% endif %}
